<div class="main-content" > 

  
    <div class="container-fluid" >
        <div class="row">
            <div class="col-sm-8 offset-1">
                <div class="card">
                    <div class="header">
                        <p style="color: cornflowerblue; font-size: 27px;" class="category">Liste de service</p>
                    </div>
                    <div class="content">
                        <div class="table-full-width">
                            <table class="table table-hover">
                                    <thead>
                                      <tr>
                                        <th style="color: rgb(100, 206, 156);font-size: 14px;font-weight: bold;" class="td-actions text-left">id</th>
                                        <th style="color: rgb(100, 206, 156);font-size: 14px;font-weight: bold;" class="td-actions text-left" >type</th>
                                        <th style="color: rgb(100, 206, 156);font-size: 14px;font-weight: bold;"  class="td-actions text-left" >date debut</th>
                                        <th style="color: rgb(100, 206, 156);font-size: 14px;font-weight: bold;" class="td-actions text-left" >etat</th>  
                                        <th style="color: rgb(100, 206, 156);font-size: 14px;font-weight: bold;" class="td-actions text-left" >id Client</th>   
                                        <th style="color: rgb(100, 206, 156);font-size: 14px;font-weight: bold;" class="td-actions text-left" >Nom </th>
                                        <th style="color: rgb(100, 206, 156);font-size: 14px;font-weight: bold;"  class="td-actions text-left" >tel</th>
                                        <th style="color: rgb(100, 206, 156);font-size: 14px;font-weight: bold;"  class="td-actions text-left" >ouvrier</th>
                                        <th style="color: rgb(100, 206, 156);font-size: 14px;font-weight: bold;"  class="td-actions text-left" >Action</th>
  
                                      </tr>
                                    </thead>
                                    <tbody >
                                      <tr *ngFor="let service of services ; let i = index" >
                                        <td> {{service.idservice}}</td>
                                        <td>{{service.type_service}}</td>
                                        <td>{{service.date_debut}}</td>
                                        <td>{{service.etat_service}}</td>
                                        <td>{{service.id_client}}</td>
                                        <td>{{service.Nom}}</td>
                                        <td>{{service.tel}}</td>
                                        <td> 
                                          <select [ngModel]="selectedValue" (change)="onChange($event)">
                                            <option value="" [selected]=true [disabled]=true></option>
                                            <option [value]="ouvrier.Nom" *ngFor="let ouvrier of ouvriers">{{ouvrier.Nom}}</option>
                                          </select> 
                                        </td>
                                        <td>
                                            <button  type="button" rel="tooltip" name="valider" 
                                                class="btn btn-success btn-simple btn-xs" 
                                                [disabled] = "service.etat_service === 'finis' || service.etat_service === 'encours' || !buttonDisabled" (click)=onbegin(i);ChekToken() >valider</button>
                                            <button type="button" rel="tooltip" name="terminer" 
                                                class="btn btn-danger btn-simple btn-xs" 
                                                [disabled]= "service.etat_service === 'initial' || service.etat_service === 'finis'" (click)=onfinis(i)>terminer</button>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  
