<div class="main-content">
    <div class="container-fluid">
  
  <div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="header">
                <h4 class="title">Ajouter Service</h4>
            </div>
            <div class="content">
                <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
                    <div class="row">
  
          
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Titre</label>
                                <input type="text" formControlName="titre" class="form-control"
                                    placeholder="Titre">
                            </div>
                        </div>
                    </div>
  
  
  
  
  
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Description</label>
                                <input type="text" formControlName="decription" class="form-control"
                                    placeholder="Description">
                            </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                              <label>Date</label>
                              <input type="datetime" formControlName="date" class="form-control"
                                  >
                          </div>
                      </div>
  
  
  
  
  
              
  
                    </div>
                    <button type="submit" vclass="cta" class="btn btn-warning">Confirmer</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-user">
            <div class="image">
                <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400"
                    alt="..." />
            </div>
            <div class="content">
                <div class="author">
                    <a href="#">
                        <img class="avatar border-gray" src="assets/img/faces/face-3.jpg" alt="..." />
  
                        <h4 class="title">Mike Andrew<br />
                            <small>michael24</small>
                        </h4>
                    </a>
                </div>
                <p class="description text-center"> "Lamborghini Mercy <br>
                    Your chick she so thirsty <br>
                    I'm in that two seat Lambo"
                </p>
            </div>
            <hr>
  
        </div>
    </div>
  </div>
    </div>
  </div>
